<?xml version="1.0" encoding="utf-8"?>
<Modules>
  <UNIT1>
    <Type name="COMP" EfxNoOnMachine="23">G3X_Compressor</Type>
    <Type name="RackComp" EfxNoOnMachine="24">G3X_Rack_Comp</Type>
    <Type name="M Comp" EfxNoOnMachine="25">G3X_M_Comp</Type>
    <Type name="SlowATTCK" EfxNoOnMachine="26">G3X_SlowAttack</Type>
    <Type name="ZNR" EfxNoOnMachine="27">G3X_ZNR</Type>
    <Type name="NoiseGate" EfxNoOnMachine="28">G3X_NoiseGate</Type>
    <Type name="DirtyGate" EfxNoOnMachine="29">G3X_DirtyGate</Type>
    <Type name="GraphicEQ" EfxNoOnMachine="30">G3X_GraphicEQ</Type>
    <Type name="ParaEQ" EfxNoOnMachine="31">G3X_ParaEQ</Type>
    <Type name="CombFLTR" EfxNoOnMachine="32">G3X_CombFilter</Type>
    <Type name="AutoWah" EfxNoOnMachine="33">G3X_Autowah</Type>
    <Type name="Resonance" EfxNoOnMachine="34">G3X_Auto_Resonance_Filter</Type>
    <Type name="Cry" EfxNoOnMachine="36">G3X_Cry</Type>
    <Type name="M-Filter" EfxNoOnMachine="0">G3X_M_Filter</Type>
    <Type name="Step" EfxNoOnMachine="35">G3X_Step</Type>
    <Type name="SeqFLTR" EfxNoOnMachine="12">G3X_SeqFltr</Type>
    <Type name="RndmFLTR" EfxNoOnMachine="13">G3X_RndmFltr</Type>
    <Type name="Booster" EfxNoOnMachine="71">G3X_Booster</Type>
    <Type name="OverDrive" EfxNoOnMachine="72">G3X_OverDrive</Type>
    <Type name="T Scream" EfxNoOnMachine="73">G3X_T_SCREAM</Type>
    <Type name="Governor" EfxNoOnMachine="74">G3X_Governor</Type>
    <Type name="Dist+" EfxNoOnMachine="75">G3X_Dist+</Type>
    <Type name="Dist 1" EfxNoOnMachine="76">G3X_Dist1</Type>
    <Type name="Squeak" EfxNoOnMachine="77">G3X_SQUEAK</Type>
    <Type name="FuzzSmile" EfxNoOnMachine="78">G3X_FuzzSmile</Type>
    <Type name="GreatMuff" EfxNoOnMachine="79">G3X_GreatMuff</Type>
    <Type name="MetalWRLD" EfxNoOnMachine="80">G3X_MetalWorld</Type>
    <Type name="HotBox" EfxNoOnMachine="81">G3X_HotBox</Type>
    <Type modeling="1" name="Z Clean" EfxNoOnMachine="86">G3X_Z_CLEAN</Type>
    <Type modeling="1" name="Z MP1" EfxNoOnMachine="87">G3X_Z_MP1</Type>
    <Type modeling="1" name="Z Bottom" EfxNoOnMachine="88">G3X_Z_BOTTOM</Type>
    <Type modeling="1" name="Z Dream" EfxNoOnMachine="89">G3X_Z_DREAM</Type>
    <Type modeling="1" name="Z Scream" EfxNoOnMachine="90">G3X_Z_SCREAM</Type>
    <Type modeling="1" name="Z Neos" EfxNoOnMachine="91">G3X_Z_NEOS</Type>
    <Type modeling="1" name="Z Wild" EfxNoOnMachine="82">G3X_Z_WILD</Type>
    <Type modeling="1" name="Lead" EfxNoOnMachine="83">G3X_Lead</Type>
    <Type modeling="1" name="ExtremeDS" EfxNoOnMachine="84">G3X_ExtremeDS</Type>
    <Type name="Aco.Sim" EfxNoOnMachine="85">G3X_AcoSim</Type>
    <Type modeling="1" name="FD COMBO" EfxNoOnMachine="92">G3X_FD_Combo</Type>
    <Type modeling="1" name="DELUXE-R" EfxNoOnMachine="111">G3X_DELUXE-R</Type>
    <Type modeling="1" name="FD VIBRO" EfxNoOnMachine="104">G3X_FD_Vibro</Type>
    <Type modeling="1" name="US BLUES" EfxNoOnMachine="94">G3X_US_Blues</Type>
    <Type modeling="1" name="VX COMBO" EfxNoOnMachine="93">G3X_VX_Combo</Type>
    <Type modeling="1" name="VX JMI" EfxNoOnMachine="116">G3X_VX_JMI</Type>
    <Type modeling="1" name="BG CRUNCH" EfxNoOnMachine="95">G3X_BG_Crunch</Type>
    <Type modeling="1" name="MATCH 30" EfxNoOnMachine="103">G3X_Match_30</Type>
    <Type modeling="1" name="CAR DRIVE" EfxNoOnMachine="114">G3X_CAR_DRIVE</Type>
    <Type modeling="1" name="TW ROCK" EfxNoOnMachine="102">G3X_TW_Rock</Type>
    <Type modeling="1" name="TONE CITY" EfxNoOnMachine="108">G3X_TONE_CITY</Type>
    <Type modeling="1" name="HW STACK" EfxNoOnMachine="96">G3X_HW_Stack</Type>
    <Type modeling="1" name="TANGERINE" EfxNoOnMachine="97">G3X_Tangerine</Type>
    <Type modeling="1" name="B-BREAKER" EfxNoOnMachine="109">G3X_B-BREAKER</Type>
    <Type modeling="1" name="MS CRUNCH" EfxNoOnMachine="98">G3X_MS_CRUNCH</Type>
    <Type modeling="1" name="MS 1959" EfxNoOnMachine="115">G3X_MS_1959</Type>
    <Type modeling="1" name="MS DRIVE" EfxNoOnMachine="99">G3X_MS_Drive</Type>
    <Type modeling="1" name="BGN DRIVE" EfxNoOnMachine="110">G3X_BGN_DRV</Type>
    <Type modeling="1" name="BG DRIVE" EfxNoOnMachine="100">G3X_BG_Drive</Type>
    <Type modeling="1" name="DZ DRIVE" EfxNoOnMachine="101">G3X_DZ_Drive</Type>
    <Type modeling="1" name="ALIEN" EfxNoOnMachine="112">G3X_ALIEN</Type>
    <Type modeling="1" name="REVO-1" EfxNoOnMachine="113">G3X_REVO-1</Type>
    <Type name="Tremolo" EfxNoOnMachine="38">G3X_Tremolo</Type>
    <Type name="Slicer" EfxNoOnMachine="3">G3X_Slicer</Type>
    <Type name="Phaser" EfxNoOnMachine="39">G3X_Phaser</Type>
    <Type name="DuoPhase" EfxNoOnMachine="10">G3X_Duo_Phase</Type>
    <Type name="WarpPhase" EfxNoOnMachine="14">G3X_Warp_Phase</Type>
    <Type name="Chorus" EfxNoOnMachine="41">G3X_Chorus</Type>
    <Type name="Detune" EfxNoOnMachine="42">G3X_Detune</Type>
    <Type name="VintageCE" EfxNoOnMachine="43">G3X_VintageCho</Type>
    <Type name="StereoCho" EfxNoOnMachine="44">G3X_StereoCho</Type>
    <Type name="Ensemble" EfxNoOnMachine="45">G3X_Ensemble</Type>
    <Type name="VinFLNGR" EfxNoOnMachine="46">G3X_VinFlanger</Type>
    <Type name="Flanger" EfxNoOnMachine="106">G3X_Flanger</Type>
    <Type name="DynaFLNGR" EfxNoOnMachine="47">G3X_DynamicFLG</Type>
    <Type name="Vibrato" EfxNoOnMachine="48">G3X_Vibrato</Type>
    <Type name="Octave" EfxNoOnMachine="37">G3X_Octave</Type>
    <Type name="PitchSHFT" EfxNoOnMachine="49">G3X_PitchShift</Type>
    <Type name="MonoPitch" EfxNoOnMachine="51">G3X_MonoPitch</Type>
    <Type name="HPS" EfxNoOnMachine="52">G3X_HPS</Type>
    <Type name="BendCho" EfxNoOnMachine="50">G3X_BendCho</Type>
    <Type name="RingMod" EfxNoOnMachine="40">G3X_RingMod</Type>
    <Type name="BitCrush" EfxNoOnMachine="8">G3X_BitCrush</Type>
    <Type name="Bomber" EfxNoOnMachine="9">G3X_Bomber</Type>
    <Type name="MonoSynth" EfxNoOnMachine="11">G3X_MonoSynth</Type>
    <Type name="Z-Organ" EfxNoOnMachine="2">G3X_Z_Organ</Type>
    <Type name="Delay" EfxNoOnMachine="53">G3X_Delay</Type>
    <Type name="TapeEcho" EfxNoOnMachine="54">G3X_TapeEcho</Type>
    <Type name="ModDelay" EfxNoOnMachine="55">G3X_ModDelay</Type>
    <Type name="AnalogDly" EfxNoOnMachine="56">G3X_AnalogDelay</Type>
    <Type name="ReverseDL" EfxNoOnMachine="57">G3X_Reverse</Type>
    <Type name="MultiTapD" EfxNoOnMachine="58">G3X_MultiTapDL</Type>
    <Type name="DynaDelay" EfxNoOnMachine="59">G3X_DynamicDLY</Type>
    <Type name="FilterDly" EfxNoOnMachine="5">G3X_FilterDly</Type>
    <Type name="PitchDly" EfxNoOnMachine="6">G3X_PitchDly</Type>
    <Type name="StereoDly" EfxNoOnMachine="7">G3X_StereoDly</Type>
    <Type name="PhaseDly" EfxNoOnMachine="4">G3X_Pha_Dly</Type>
    <Type name="TrgHldDly" EfxNoOnMachine="15">G3X_TrgHldDly</Type>
    <Type name="HD Reverb" EfxNoOnMachine="105">G3X_HD_Reverb</Type>
    <Type name="Hall" EfxNoOnMachine="60">G3X_Hall</Type>
    <Type name="Room" EfxNoOnMachine="61">G3X_Room</Type>
    <Type name="TiledRoom" EfxNoOnMachine="62">G3X_TiledRoom</Type>
    <Type name="Spring" EfxNoOnMachine="63">G3X_Spring</Type>
    <Type name="Arena" EfxNoOnMachine="64">G3X_Arena</Type>
    <Type name="EarlyRef" EfxNoOnMachine="65">G3X_EarlyRef</Type>
    <Type name="Air" EfxNoOnMachine="66">G3X_Air</Type>
    <Type name="Comp+OD" EfxNoOnMachine="22">G3X_Comp+OD</Type>
    <Type name="Comp+Phsr" EfxNoOnMachine="19">G3X_Comp+Phsr</Type>
    <Type name="Comp+AWah" EfxNoOnMachine="20">G3X_Comp+AWah</Type>
    <Type name="Cho+Dly" EfxNoOnMachine="16">G3X_Cho+Dly</Type>
    <Type name="Dly+Rev" EfxNoOnMachine="18">G3X_Dly+Rev</Type>
    <Type name="Cho+Rev" EfxNoOnMachine="17">G3X_Cho+Rev</Type>
    <Type name="FLG+VCho" EfxNoOnMachine="21">G3X_V_Cho+Flg</Type>
    <Type name="PedalVx" EfxNoOnMachine="67">G3X_PedalVox</Type>
    <Type name="PedalCry" EfxNoOnMachine="68">G3X_PedalCry</Type>
    <Type name="TheVibe" EfxNoOnMachine="1">G3X_TheVibe</Type>
    <Type name="PDL Pitch" EfxNoOnMachine="69">G3X_PedalPitch</Type>
    <Type name="PDL MnPit" EfxNoOnMachine="70">G3X_PdlMnPit</Type>
    <Type name="None" EfxNoOnMachine="107" IsTHRU="1" IsDefaultEfx="1">G3X_None</Type>
    <Type name="Unknown" NotVisibleToTypeChg="1">G3X_Unknown</Type>
  </UNIT1>
  <UNIT2>
    <Type name="COMP" EfxNoOnMachine="23">G3X_Compressor</Type>
    <Type name="RackComp" EfxNoOnMachine="24">G3X_Rack_Comp</Type>
    <Type name="M Comp" EfxNoOnMachine="25">G3X_M_Comp</Type>
    <Type name="SlowATTCK" EfxNoOnMachine="26">G3X_SlowAttack</Type>
    <Type name="ZNR" EfxNoOnMachine="27">G3X_ZNR</Type>
    <Type name="NoiseGate" EfxNoOnMachine="28">G3X_NoiseGate</Type>
    <Type name="DirtyGate" EfxNoOnMachine="29">G3X_DirtyGate</Type>
    <Type name="GraphicEQ" EfxNoOnMachine="30">G3X_GraphicEQ</Type>
    <Type name="ParaEQ" EfxNoOnMachine="31">G3X_ParaEQ</Type>
    <Type name="CombFLTR" EfxNoOnMachine="32">G3X_CombFilter</Type>
    <Type name="AutoWah" EfxNoOnMachine="33">G3X_Autowah</Type>
    <Type name="Resonance" EfxNoOnMachine="34">G3X_Auto_Resonance_Filter</Type>
    <Type name="Cry" EfxNoOnMachine="36">G3X_Cry</Type>
    <Type name="M-Filter" EfxNoOnMachine="0">G3X_M_Filter</Type>
    <Type name="Step" EfxNoOnMachine="35">G3X_Step</Type>
    <Type name="SeqFLTR" EfxNoOnMachine="12">G3X_SeqFltr</Type>
    <Type name="RndmFLTR" EfxNoOnMachine="13">G3X_RndmFltr</Type>
    <Type name="Booster" EfxNoOnMachine="71">G3X_Booster</Type>
    <Type name="OverDrive" EfxNoOnMachine="72">G3X_OverDrive</Type>
    <Type name="T Scream" EfxNoOnMachine="73">G3X_T_SCREAM</Type>
    <Type name="Governor" EfxNoOnMachine="74">G3X_Governor</Type>
    <Type name="Dist+" EfxNoOnMachine="75">G3X_Dist+</Type>
    <Type name="Dist 1" EfxNoOnMachine="76">G3X_Dist1</Type>
    <Type name="Squeak" EfxNoOnMachine="77">G3X_SQUEAK</Type>
    <Type name="FuzzSmile" EfxNoOnMachine="78">G3X_FuzzSmile</Type>
    <Type name="GreatMuff" EfxNoOnMachine="79">G3X_GreatMuff</Type>
    <Type name="MetalWRLD" EfxNoOnMachine="80">G3X_MetalWorld</Type>
    <Type name="HotBox" EfxNoOnMachine="81">G3X_HotBox</Type>
    <Type modeling="1" name="Z Clean" EfxNoOnMachine="86">G3X_Z_CLEAN</Type>
    <Type modeling="1" name="Z MP1" EfxNoOnMachine="87">G3X_Z_MP1</Type>
    <Type modeling="1" name="Z Bottom" EfxNoOnMachine="88">G3X_Z_BOTTOM</Type>
    <Type modeling="1" name="Z Dream" EfxNoOnMachine="89">G3X_Z_DREAM</Type>
    <Type modeling="1" name="Z Scream" EfxNoOnMachine="90">G3X_Z_SCREAM</Type>
    <Type modeling="1" name="Z Neos" EfxNoOnMachine="91">G3X_Z_NEOS</Type>
    <Type modeling="1" name="Z Wild" EfxNoOnMachine="82">G3X_Z_WILD</Type>
    <Type modeling="1" name="Lead" EfxNoOnMachine="83">G3X_Lead</Type>
    <Type modeling="1" name="ExtremeDS" EfxNoOnMachine="84">G3X_ExtremeDS</Type>
    <Type name="Aco.Sim" EfxNoOnMachine="85">G3X_AcoSim</Type>
    <Type modeling="1" name="FD COMBO" EfxNoOnMachine="92">G3X_FD_Combo</Type>
    <Type modeling="1" name="DELUXE-R" EfxNoOnMachine="111">G3X_DELUXE-R</Type>
    <Type modeling="1" name="FD VIBRO" EfxNoOnMachine="104">G3X_FD_Vibro</Type>
    <Type modeling="1" name="US BLUES" EfxNoOnMachine="94">G3X_US_Blues</Type>
    <Type modeling="1" name="VX COMBO" EfxNoOnMachine="93">G3X_VX_Combo</Type>
    <Type modeling="1" name="VX JMI" EfxNoOnMachine="116">G3X_VX_JMI</Type>
    <Type modeling="1" name="BG CRUNCH" EfxNoOnMachine="95">G3X_BG_Crunch</Type>
    <Type modeling="1" name="MATCH 30" EfxNoOnMachine="103">G3X_Match_30</Type>
    <Type modeling="1" name="CAR DRIVE" EfxNoOnMachine="114">G3X_CAR_DRIVE</Type>
    <Type modeling="1" name="TW ROCK" EfxNoOnMachine="102">G3X_TW_Rock</Type>
    <Type modeling="1" name="TONE CITY" EfxNoOnMachine="108">G3X_TONE_CITY</Type>
    <Type modeling="1" name="HW STACK" EfxNoOnMachine="96">G3X_HW_Stack</Type>
    <Type modeling="1" name="TANGERINE" EfxNoOnMachine="97">G3X_Tangerine</Type>
    <Type modeling="1" name="B-BREAKER" EfxNoOnMachine="109">G3X_B-BREAKER</Type>
    <Type modeling="1" name="MS CRUNCH" EfxNoOnMachine="98">G3X_MS_CRUNCH</Type>
    <Type modeling="1" name="MS 1959" EfxNoOnMachine="115">G3X_MS_1959</Type>
    <Type modeling="1" name="MS DRIVE" EfxNoOnMachine="99">G3X_MS_Drive</Type>
    <Type modeling="1" name="BGN DRIVE" EfxNoOnMachine="110">G3X_BGN_DRV</Type>
    <Type modeling="1" name="BG DRIVE" EfxNoOnMachine="100">G3X_BG_Drive</Type>
    <Type modeling="1" name="DZ DRIVE" EfxNoOnMachine="101">G3X_DZ_Drive</Type>
    <Type modeling="1" name="ALIEN" EfxNoOnMachine="112">G3X_ALIEN</Type>
    <Type modeling="1" name="REVO-1" EfxNoOnMachine="113">G3X_REVO-1</Type>
    <Type name="Tremolo" EfxNoOnMachine="38">G3X_Tremolo</Type>
    <Type name="Slicer" EfxNoOnMachine="3">G3X_Slicer</Type>
    <Type name="Phaser" EfxNoOnMachine="39">G3X_Phaser</Type>
    <Type name="DuoPhase" EfxNoOnMachine="10">G3X_Duo_Phase</Type>
    <Type name="WarpPhase" EfxNoOnMachine="14">G3X_Warp_Phase</Type>
    <Type name="Chorus" EfxNoOnMachine="41">G3X_Chorus</Type>
    <Type name="Detune" EfxNoOnMachine="42">G3X_Detune</Type>
    <Type name="VintageCE" EfxNoOnMachine="43">G3X_VintageCho</Type>
    <Type name="StereoCho" EfxNoOnMachine="44">G3X_StereoCho</Type>
    <Type name="Ensemble" EfxNoOnMachine="45">G3X_Ensemble</Type>
    <Type name="VinFLNGR" EfxNoOnMachine="46">G3X_VinFlanger</Type>
    <Type name="Flanger" EfxNoOnMachine="106">G3X_Flanger</Type>
    <Type name="DynaFLNGR" EfxNoOnMachine="47">G3X_DynamicFLG</Type>
    <Type name="Vibrato" EfxNoOnMachine="48">G3X_Vibrato</Type>
    <Type name="Octave" EfxNoOnMachine="37">G3X_Octave</Type>
    <Type name="PitchSHFT" EfxNoOnMachine="49">G3X_PitchShift</Type>
    <Type name="MonoPitch" EfxNoOnMachine="51">G3X_MonoPitch</Type>
    <Type name="HPS" EfxNoOnMachine="52">G3X_HPS</Type>
    <Type name="BendCho" EfxNoOnMachine="50">G3X_BendCho</Type>
    <Type name="RingMod" EfxNoOnMachine="40">G3X_RingMod</Type>
    <Type name="BitCrush" EfxNoOnMachine="8">G3X_BitCrush</Type>
    <Type name="Bomber" EfxNoOnMachine="9">G3X_Bomber</Type>
    <Type name="MonoSynth" EfxNoOnMachine="11">G3X_MonoSynth</Type>
    <Type name="Z-Organ" EfxNoOnMachine="2">G3X_Z_Organ</Type>
    <Type name="Delay" EfxNoOnMachine="53">G3X_Delay</Type>
    <Type name="TapeEcho" EfxNoOnMachine="54">G3X_TapeEcho</Type>
    <Type name="ModDelay" EfxNoOnMachine="55">G3X_ModDelay</Type>
    <Type name="AnalogDly" EfxNoOnMachine="56">G3X_AnalogDelay</Type>
    <Type name="ReverseDL" EfxNoOnMachine="57">G3X_Reverse</Type>
    <Type name="MultiTapD" EfxNoOnMachine="58">G3X_MultiTapDL</Type>
    <Type name="DynaDelay" EfxNoOnMachine="59">G3X_DynamicDLY</Type>
    <Type name="FilterDly" EfxNoOnMachine="5">G3X_FilterDly</Type>
    <Type name="PitchDly" EfxNoOnMachine="6">G3X_PitchDly</Type>
    <Type name="StereoDly" EfxNoOnMachine="7">G3X_StereoDly</Type>
    <Type name="PhaseDly" EfxNoOnMachine="4">G3X_Pha_Dly</Type>
    <Type name="TrgHldDly" EfxNoOnMachine="15">G3X_TrgHldDly</Type>
    <Type name="HD Reverb" EfxNoOnMachine="105">G3X_HD_Reverb</Type>
    <Type name="Hall" EfxNoOnMachine="60">G3X_Hall</Type>
    <Type name="Room" EfxNoOnMachine="61">G3X_Room</Type>
    <Type name="TiledRoom" EfxNoOnMachine="62">G3X_TiledRoom</Type>
    <Type name="Spring" EfxNoOnMachine="63">G3X_Spring</Type>
    <Type name="Arena" EfxNoOnMachine="64">G3X_Arena</Type>
    <Type name="EarlyRef" EfxNoOnMachine="65">G3X_EarlyRef</Type>
    <Type name="Air" EfxNoOnMachine="66">G3X_Air</Type>
    <Type name="Comp+OD" EfxNoOnMachine="22">G3X_Comp+OD</Type>
    <Type name="Comp+Phsr" EfxNoOnMachine="19">G3X_Comp+Phsr</Type>
    <Type name="Comp+AWah" EfxNoOnMachine="20">G3X_Comp+AWah</Type>
    <Type name="Cho+Dly" EfxNoOnMachine="16">G3X_Cho+Dly</Type>
    <Type name="Dly+Rev" EfxNoOnMachine="18">G3X_Dly+Rev</Type>
    <Type name="Cho+Rev" EfxNoOnMachine="17">G3X_Cho+Rev</Type>
    <Type name="FLG+VCho" EfxNoOnMachine="21">G3X_V_Cho+Flg</Type>
    <Type name="PedalVx" EfxNoOnMachine="67">G3X_PedalVox</Type>
    <Type name="PedalCry" EfxNoOnMachine="68">G3X_PedalCry</Type>
    <Type name="TheVibe" EfxNoOnMachine="1">G3X_TheVibe</Type>
    <Type name="PDL Pitch" EfxNoOnMachine="69">G3X_PedalPitch</Type>
    <Type name="PDL MnPit" EfxNoOnMachine="70">G3X_PdlMnPit</Type>
    <Type name="None" EfxNoOnMachine="107" IsTHRU="1" IsDefaultEfx="1">G3X_None</Type>
    <Type name="Unknown" NotVisibleToTypeChg="1">G3X_Unknown</Type>
  </UNIT2>
  <UNIT3>
    <Type name="COMP" EfxNoOnMachine="23">G3X_Compressor</Type>
    <Type name="RackComp" EfxNoOnMachine="24">G3X_Rack_Comp</Type>
    <Type name="M Comp" EfxNoOnMachine="25">G3X_M_Comp</Type>
    <Type name="SlowATTCK" EfxNoOnMachine="26">G3X_SlowAttack</Type>
    <Type name="ZNR" EfxNoOnMachine="27">G3X_ZNR</Type>
    <Type name="NoiseGate" EfxNoOnMachine="28">G3X_NoiseGate</Type>
    <Type name="DirtyGate" EfxNoOnMachine="29">G3X_DirtyGate</Type>
    <Type name="GraphicEQ" EfxNoOnMachine="30">G3X_GraphicEQ</Type>
    <Type name="ParaEQ" EfxNoOnMachine="31">G3X_ParaEQ</Type>
    <Type name="CombFLTR" EfxNoOnMachine="32">G3X_CombFilter</Type>
    <Type name="AutoWah" EfxNoOnMachine="33">G3X_Autowah</Type>
    <Type name="Resonance" EfxNoOnMachine="34">G3X_Auto_Resonance_Filter</Type>
    <Type name="Cry" EfxNoOnMachine="36">G3X_Cry</Type>
    <Type name="M-Filter" EfxNoOnMachine="0">G3X_M_Filter</Type>
    <Type name="Step" EfxNoOnMachine="35">G3X_Step</Type>
    <Type name="SeqFLTR" EfxNoOnMachine="12">G3X_SeqFltr</Type>
    <Type name="RndmFLTR" EfxNoOnMachine="13">G3X_RndmFltr</Type>
    <Type name="Booster" EfxNoOnMachine="71">G3X_Booster</Type>
    <Type name="OverDrive" EfxNoOnMachine="72">G3X_OverDrive</Type>
    <Type name="T Scream" EfxNoOnMachine="73">G3X_T_SCREAM</Type>
    <Type name="Governor" EfxNoOnMachine="74">G3X_Governor</Type>
    <Type name="Dist+" EfxNoOnMachine="75">G3X_Dist+</Type>
    <Type name="Dist 1" EfxNoOnMachine="76">G3X_Dist1</Type>
    <Type name="Squeak" EfxNoOnMachine="77">G3X_SQUEAK</Type>
    <Type name="FuzzSmile" EfxNoOnMachine="78">G3X_FuzzSmile</Type>
    <Type name="GreatMuff" EfxNoOnMachine="79">G3X_GreatMuff</Type>
    <Type name="MetalWRLD" EfxNoOnMachine="80">G3X_MetalWorld</Type>
    <Type name="HotBox" EfxNoOnMachine="81">G3X_HotBox</Type>
    <Type modeling="1" name="Z Clean" EfxNoOnMachine="86">G3X_Z_CLEAN</Type>
    <Type modeling="1" name="Z MP1" EfxNoOnMachine="87">G3X_Z_MP1</Type>
    <Type modeling="1" name="Z Bottom" EfxNoOnMachine="88">G3X_Z_BOTTOM</Type>
    <Type modeling="1" name="Z Dream" EfxNoOnMachine="89">G3X_Z_DREAM</Type>
    <Type modeling="1" name="Z Scream" EfxNoOnMachine="90">G3X_Z_SCREAM</Type>
    <Type modeling="1" name="Z Neos" EfxNoOnMachine="91">G3X_Z_NEOS</Type>
    <Type modeling="1" name="Z Wild" EfxNoOnMachine="82">G3X_Z_WILD</Type>
    <Type modeling="1" name="Lead" EfxNoOnMachine="83">G3X_Lead</Type>
    <Type modeling="1" name="ExtremeDS" EfxNoOnMachine="84">G3X_ExtremeDS</Type>
    <Type name="Aco.Sim" EfxNoOnMachine="85">G3X_AcoSim</Type>
    <Type modeling="1" name="FD COMBO" EfxNoOnMachine="92">G3X_FD_Combo</Type>
    <Type modeling="1" name="DELUXE-R" EfxNoOnMachine="111">G3X_DELUXE-R</Type>
    <Type modeling="1" name="FD VIBRO" EfxNoOnMachine="104">G3X_FD_Vibro</Type>
    <Type modeling="1" name="US BLUES" EfxNoOnMachine="94">G3X_US_Blues</Type>
    <Type modeling="1" name="VX COMBO" EfxNoOnMachine="93">G3X_VX_Combo</Type>
    <Type modeling="1" name="VX JMI" EfxNoOnMachine="116">G3X_VX_JMI</Type>
    <Type modeling="1" name="BG CRUNCH" EfxNoOnMachine="95">G3X_BG_Crunch</Type>
    <Type modeling="1" name="MATCH 30" EfxNoOnMachine="103">G3X_Match_30</Type>
    <Type modeling="1" name="CAR DRIVE" EfxNoOnMachine="114">G3X_CAR_DRIVE</Type>
    <Type modeling="1" name="TW ROCK" EfxNoOnMachine="102">G3X_TW_Rock</Type>
    <Type modeling="1" name="TONE CITY" EfxNoOnMachine="108">G3X_TONE_CITY</Type>
    <Type modeling="1" name="HW STACK" EfxNoOnMachine="96">G3X_HW_Stack</Type>
    <Type modeling="1" name="TANGERINE" EfxNoOnMachine="97">G3X_Tangerine</Type>
    <Type modeling="1" name="B-BREAKER" EfxNoOnMachine="109">G3X_B-BREAKER</Type>
    <Type modeling="1" name="MS CRUNCH" EfxNoOnMachine="98">G3X_MS_CRUNCH</Type>
    <Type modeling="1" name="MS 1959" EfxNoOnMachine="115">G3X_MS_1959</Type>
    <Type modeling="1" name="MS DRIVE" EfxNoOnMachine="99">G3X_MS_Drive</Type>
    <Type modeling="1" name="BGN DRIVE" EfxNoOnMachine="110">G3X_BGN_DRV</Type>
    <Type modeling="1" name="BG DRIVE" EfxNoOnMachine="100">G3X_BG_Drive</Type>
    <Type modeling="1" name="DZ DRIVE" EfxNoOnMachine="101">G3X_DZ_Drive</Type>
    <Type modeling="1" name="ALIEN" EfxNoOnMachine="112">G3X_ALIEN</Type>
    <Type modeling="1" name="REVO-1" EfxNoOnMachine="113">G3X_REVO-1</Type>
    <Type name="Tremolo" EfxNoOnMachine="38">G3X_Tremolo</Type>
    <Type name="Slicer" EfxNoOnMachine="3">G3X_Slicer</Type>
    <Type name="Phaser" EfxNoOnMachine="39">G3X_Phaser</Type>
    <Type name="DuoPhase" EfxNoOnMachine="10">G3X_Duo_Phase</Type>
    <Type name="WarpPhase" EfxNoOnMachine="14">G3X_Warp_Phase</Type>
    <Type name="Chorus" EfxNoOnMachine="41">G3X_Chorus</Type>
    <Type name="Detune" EfxNoOnMachine="42">G3X_Detune</Type>
    <Type name="VintageCE" EfxNoOnMachine="43">G3X_VintageCho</Type>
    <Type name="StereoCho" EfxNoOnMachine="44">G3X_StereoCho</Type>
    <Type name="Ensemble" EfxNoOnMachine="45">G3X_Ensemble</Type>
    <Type name="VinFLNGR" EfxNoOnMachine="46">G3X_VinFlanger</Type>
    <Type name="Flanger" EfxNoOnMachine="106">G3X_Flanger</Type>
    <Type name="DynaFLNGR" EfxNoOnMachine="47">G3X_DynamicFLG</Type>
    <Type name="Vibrato" EfxNoOnMachine="48">G3X_Vibrato</Type>
    <Type name="Octave" EfxNoOnMachine="37">G3X_Octave</Type>
    <Type name="PitchSHFT" EfxNoOnMachine="49">G3X_PitchShift</Type>
    <Type name="MonoPitch" EfxNoOnMachine="51">G3X_MonoPitch</Type>
    <Type name="HPS" EfxNoOnMachine="52">G3X_HPS</Type>
    <Type name="BendCho" EfxNoOnMachine="50">G3X_BendCho</Type>
    <Type name="RingMod" EfxNoOnMachine="40">G3X_RingMod</Type>
    <Type name="BitCrush" EfxNoOnMachine="8">G3X_BitCrush</Type>
    <Type name="Bomber" EfxNoOnMachine="9">G3X_Bomber</Type>
    <Type name="MonoSynth" EfxNoOnMachine="11">G3X_MonoSynth</Type>
    <Type name="Z-Organ" EfxNoOnMachine="2">G3X_Z_Organ</Type>
    <Type name="Delay" EfxNoOnMachine="53">G3X_Delay</Type>
    <Type name="TapeEcho" EfxNoOnMachine="54">G3X_TapeEcho</Type>
    <Type name="ModDelay" EfxNoOnMachine="55">G3X_ModDelay</Type>
    <Type name="AnalogDly" EfxNoOnMachine="56">G3X_AnalogDelay</Type>
    <Type name="ReverseDL" EfxNoOnMachine="57">G3X_Reverse</Type>
    <Type name="MultiTapD" EfxNoOnMachine="58">G3X_MultiTapDL</Type>
    <Type name="DynaDelay" EfxNoOnMachine="59">G3X_DynamicDLY</Type>
    <Type name="FilterDly" EfxNoOnMachine="5">G3X_FilterDly</Type>
    <Type name="PitchDly" EfxNoOnMachine="6">G3X_PitchDly</Type>
    <Type name="StereoDly" EfxNoOnMachine="7">G3X_StereoDly</Type>
    <Type name="PhaseDly" EfxNoOnMachine="4">G3X_Pha_Dly</Type>
    <Type name="TrgHldDly" EfxNoOnMachine="15">G3X_TrgHldDly</Type>
    <Type name="HD Reverb" EfxNoOnMachine="105">G3X_HD_Reverb</Type>
    <Type name="Hall" EfxNoOnMachine="60">G3X_Hall</Type>
    <Type name="Room" EfxNoOnMachine="61">G3X_Room</Type>
    <Type name="TiledRoom" EfxNoOnMachine="62">G3X_TiledRoom</Type>
    <Type name="Spring" EfxNoOnMachine="63">G3X_Spring</Type>
    <Type name="Arena" EfxNoOnMachine="64">G3X_Arena</Type>
    <Type name="EarlyRef" EfxNoOnMachine="65">G3X_EarlyRef</Type>
    <Type name="Air" EfxNoOnMachine="66">G3X_Air</Type>
    <Type name="Comp+OD" EfxNoOnMachine="22">G3X_Comp+OD</Type>
    <Type name="Comp+Phsr" EfxNoOnMachine="19">G3X_Comp+Phsr</Type>
    <Type name="Comp+AWah" EfxNoOnMachine="20">G3X_Comp+AWah</Type>
    <Type name="Cho+Dly" EfxNoOnMachine="16">G3X_Cho+Dly</Type>
    <Type name="Dly+Rev" EfxNoOnMachine="18">G3X_Dly+Rev</Type>
    <Type name="Cho+Rev" EfxNoOnMachine="17">G3X_Cho+Rev</Type>
    <Type name="FLG+VCho" EfxNoOnMachine="21">G3X_V_Cho+Flg</Type>
    <Type name="PedalVx" EfxNoOnMachine="67">G3X_PedalVox</Type>
    <Type name="PedalCry" EfxNoOnMachine="68">G3X_PedalCry</Type>
    <Type name="TheVibe" EfxNoOnMachine="1">G3X_TheVibe</Type>
    <Type name="PDL Pitch" EfxNoOnMachine="69">G3X_PedalPitch</Type>
    <Type name="PDL MnPit" EfxNoOnMachine="70">G3X_PdlMnPit</Type>
    <Type name="None" EfxNoOnMachine="107" IsTHRU="1" IsDefaultEfx="1">G3X_None</Type>
    <Type name="Unknown" NotVisibleToTypeChg="1">G3X_Unknown</Type>
  </UNIT3>
  <UNIT4>
    <Type name="COMP" EfxNoOnMachine="23">G3X_Compressor</Type>
    <Type name="RackComp" EfxNoOnMachine="24">G3X_Rack_Comp</Type>
    <Type name="M Comp" EfxNoOnMachine="25">G3X_M_Comp</Type>
    <Type name="SlowATTCK" EfxNoOnMachine="26">G3X_SlowAttack</Type>
    <Type name="ZNR" EfxNoOnMachine="27">G3X_ZNR</Type>
    <Type name="NoiseGate" EfxNoOnMachine="28">G3X_NoiseGate</Type>
    <Type name="DirtyGate" EfxNoOnMachine="29">G3X_DirtyGate</Type>
    <Type name="GraphicEQ" EfxNoOnMachine="30">G3X_GraphicEQ</Type>
    <Type name="ParaEQ" EfxNoOnMachine="31">G3X_ParaEQ</Type>
    <Type name="CombFLTR" EfxNoOnMachine="32">G3X_CombFilter</Type>
    <Type name="AutoWah" EfxNoOnMachine="33">G3X_Autowah</Type>
    <Type name="Resonance" EfxNoOnMachine="34">G3X_Auto_Resonance_Filter</Type>
    <Type name="Cry" EfxNoOnMachine="36">G3X_Cry</Type>
    <Type name="M-Filter" EfxNoOnMachine="0">G3X_M_Filter</Type>
    <Type name="Step" EfxNoOnMachine="35">G3X_Step</Type>
    <Type name="SeqFLTR" EfxNoOnMachine="12">G3X_SeqFltr</Type>
    <Type name="RndmFLTR" EfxNoOnMachine="13">G3X_RndmFltr</Type>
    <Type name="Booster" EfxNoOnMachine="71">G3X_Booster</Type>
    <Type name="OverDrive" EfxNoOnMachine="72">G3X_OverDrive</Type>
    <Type name="T Scream" EfxNoOnMachine="73">G3X_T_SCREAM</Type>
    <Type name="Governor" EfxNoOnMachine="74">G3X_Governor</Type>
    <Type name="Dist+" EfxNoOnMachine="75">G3X_Dist+</Type>
    <Type name="Dist 1" EfxNoOnMachine="76">G3X_Dist1</Type>
    <Type name="Squeak" EfxNoOnMachine="77">G3X_SQUEAK</Type>
    <Type name="FuzzSmile" EfxNoOnMachine="78">G3X_FuzzSmile</Type>
    <Type name="GreatMuff" EfxNoOnMachine="79">G3X_GreatMuff</Type>
    <Type name="MetalWRLD" EfxNoOnMachine="80">G3X_MetalWorld</Type>
    <Type name="HotBox" EfxNoOnMachine="81">G3X_HotBox</Type>
    <Type modeling="1" name="Z Clean" EfxNoOnMachine="86">G3X_Z_CLEAN</Type>
    <Type modeling="1" name="Z MP1" EfxNoOnMachine="87">G3X_Z_MP1</Type>
    <Type modeling="1" name="Z Bottom" EfxNoOnMachine="88">G3X_Z_BOTTOM</Type>
    <Type modeling="1" name="Z Dream" EfxNoOnMachine="89">G3X_Z_DREAM</Type>
    <Type modeling="1" name="Z Scream" EfxNoOnMachine="90">G3X_Z_SCREAM</Type>
    <Type modeling="1" name="Z Neos" EfxNoOnMachine="91">G3X_Z_NEOS</Type>
    <Type modeling="1" name="Z Wild" EfxNoOnMachine="82">G3X_Z_WILD</Type>
    <Type modeling="1" name="Lead" EfxNoOnMachine="83">G3X_Lead</Type>
    <Type modeling="1" name="ExtremeDS" EfxNoOnMachine="84">G3X_ExtremeDS</Type>
    <Type name="Aco.Sim" EfxNoOnMachine="85">G3X_AcoSim</Type>
    <Type modeling="1" name="FD COMBO" EfxNoOnMachine="92">G3X_FD_Combo</Type>
    <Type modeling="1" name="DELUXE-R" EfxNoOnMachine="111">G3X_DELUXE-R</Type>
    <Type modeling="1" name="FD VIBRO" EfxNoOnMachine="104">G3X_FD_Vibro</Type>
    <Type modeling="1" name="US BLUES" EfxNoOnMachine="94">G3X_US_Blues</Type>
    <Type modeling="1" name="VX COMBO" EfxNoOnMachine="93">G3X_VX_Combo</Type>
    <Type modeling="1" name="VX JMI" EfxNoOnMachine="116">G3X_VX_JMI</Type>
    <Type modeling="1" name="BG CRUNCH" EfxNoOnMachine="95">G3X_BG_Crunch</Type>
    <Type modeling="1" name="MATCH 30" EfxNoOnMachine="103">G3X_Match_30</Type>
    <Type modeling="1" name="CAR DRIVE" EfxNoOnMachine="114">G3X_CAR_DRIVE</Type>
    <Type modeling="1" name="TW ROCK" EfxNoOnMachine="102">G3X_TW_Rock</Type>
    <Type modeling="1" name="TONE CITY" EfxNoOnMachine="108">G3X_TONE_CITY</Type>
    <Type modeling="1" name="HW STACK" EfxNoOnMachine="96">G3X_HW_Stack</Type>
    <Type modeling="1" name="TANGERINE" EfxNoOnMachine="97">G3X_Tangerine</Type>
    <Type modeling="1" name="B-BREAKER" EfxNoOnMachine="109">G3X_B-BREAKER</Type>
    <Type modeling="1" name="MS CRUNCH" EfxNoOnMachine="98">G3X_MS_CRUNCH</Type>
    <Type modeling="1" name="MS 1959" EfxNoOnMachine="115">G3X_MS_1959</Type>
    <Type modeling="1" name="MS DRIVE" EfxNoOnMachine="99">G3X_MS_Drive</Type>
    <Type modeling="1" name="BGN DRIVE" EfxNoOnMachine="110">G3X_BGN_DRV</Type>
    <Type modeling="1" name="BG DRIVE" EfxNoOnMachine="100">G3X_BG_Drive</Type>
    <Type modeling="1" name="DZ DRIVE" EfxNoOnMachine="101">G3X_DZ_Drive</Type>
    <Type modeling="1" name="ALIEN" EfxNoOnMachine="112">G3X_ALIEN</Type>
    <Type modeling="1" name="REVO-1" EfxNoOnMachine="113">G3X_REVO-1</Type>
    <Type name="Tremolo" EfxNoOnMachine="38">G3X_Tremolo</Type>
    <Type name="Slicer" EfxNoOnMachine="3">G3X_Slicer</Type>
    <Type name="Phaser" EfxNoOnMachine="39">G3X_Phaser</Type>
    <Type name="DuoPhase" EfxNoOnMachine="10">G3X_Duo_Phase</Type>
    <Type name="WarpPhase" EfxNoOnMachine="14">G3X_Warp_Phase</Type>
    <Type name="Chorus" EfxNoOnMachine="41">G3X_Chorus</Type>
    <Type name="Detune" EfxNoOnMachine="42">G3X_Detune</Type>
    <Type name="VintageCE" EfxNoOnMachine="43">G3X_VintageCho</Type>
    <Type name="StereoCho" EfxNoOnMachine="44">G3X_StereoCho</Type>
    <Type name="Ensemble" EfxNoOnMachine="45">G3X_Ensemble</Type>
    <Type name="VinFLNGR" EfxNoOnMachine="46">G3X_VinFlanger</Type>
    <Type name="Flanger" EfxNoOnMachine="106">G3X_Flanger</Type>
    <Type name="DynaFLNGR" EfxNoOnMachine="47">G3X_DynamicFLG</Type>
    <Type name="Vibrato" EfxNoOnMachine="48">G3X_Vibrato</Type>
    <Type name="Octave" EfxNoOnMachine="37">G3X_Octave</Type>
    <Type name="PitchSHFT" EfxNoOnMachine="49">G3X_PitchShift</Type>
    <Type name="MonoPitch" EfxNoOnMachine="51">G3X_MonoPitch</Type>
    <Type name="HPS" EfxNoOnMachine="52">G3X_HPS</Type>
    <Type name="BendCho" EfxNoOnMachine="50">G3X_BendCho</Type>
    <Type name="RingMod" EfxNoOnMachine="40">G3X_RingMod</Type>
    <Type name="BitCrush" EfxNoOnMachine="8">G3X_BitCrush</Type>
    <Type name="Bomber" EfxNoOnMachine="9">G3X_Bomber</Type>
    <Type name="MonoSynth" EfxNoOnMachine="11">G3X_MonoSynth</Type>
    <Type name="Z-Organ" EfxNoOnMachine="2">G3X_Z_Organ</Type>
    <Type name="Delay" EfxNoOnMachine="53">G3X_Delay</Type>
    <Type name="TapeEcho" EfxNoOnMachine="54">G3X_TapeEcho</Type>
    <Type name="ModDelay" EfxNoOnMachine="55">G3X_ModDelay</Type>
    <Type name="AnalogDly" EfxNoOnMachine="56">G3X_AnalogDelay</Type>
    <Type name="ReverseDL" EfxNoOnMachine="57">G3X_Reverse</Type>
    <Type name="MultiTapD" EfxNoOnMachine="58">G3X_MultiTapDL</Type>
    <Type name="DynaDelay" EfxNoOnMachine="59">G3X_DynamicDLY</Type>
    <Type name="FilterDly" EfxNoOnMachine="5">G3X_FilterDly</Type>
    <Type name="PitchDly" EfxNoOnMachine="6">G3X_PitchDly</Type>
    <Type name="StereoDly" EfxNoOnMachine="7">G3X_StereoDly</Type>
    <Type name="PhaseDly" EfxNoOnMachine="4">G3X_Pha_Dly</Type>
    <Type name="TrgHldDly" EfxNoOnMachine="15">G3X_TrgHldDly</Type>
    <Type name="HD Reverb" EfxNoOnMachine="105">G3X_HD_Reverb</Type>
    <Type name="Hall" EfxNoOnMachine="60">G3X_Hall</Type>
    <Type name="Room" EfxNoOnMachine="61">G3X_Room</Type>
    <Type name="TiledRoom" EfxNoOnMachine="62">G3X_TiledRoom</Type>
    <Type name="Spring" EfxNoOnMachine="63">G3X_Spring</Type>
    <Type name="Arena" EfxNoOnMachine="64">G3X_Arena</Type>
    <Type name="EarlyRef" EfxNoOnMachine="65">G3X_EarlyRef</Type>
    <Type name="Air" EfxNoOnMachine="66">G3X_Air</Type>
    <Type name="Comp+OD" EfxNoOnMachine="22">G3X_Comp+OD</Type>
    <Type name="Comp+Phsr" EfxNoOnMachine="19">G3X_Comp+Phsr</Type>
    <Type name="Comp+AWah" EfxNoOnMachine="20">G3X_Comp+AWah</Type>
    <Type name="Cho+Dly" EfxNoOnMachine="16">G3X_Cho+Dly</Type>
    <Type name="Dly+Rev" EfxNoOnMachine="18">G3X_Dly+Rev</Type>
    <Type name="Cho+Rev" EfxNoOnMachine="17">G3X_Cho+Rev</Type>
    <Type name="FLG+VCho" EfxNoOnMachine="21">G3X_V_Cho+Flg</Type>
    <Type name="PedalVx" EfxNoOnMachine="67">G3X_PedalVox</Type>
    <Type name="PedalCry" EfxNoOnMachine="68">G3X_PedalCry</Type>
    <Type name="TheVibe" EfxNoOnMachine="1">G3X_TheVibe</Type>
    <Type name="PDL Pitch" EfxNoOnMachine="69">G3X_PedalPitch</Type>
    <Type name="PDL MnPit" EfxNoOnMachine="70">G3X_PdlMnPit</Type>
    <Type name="None" EfxNoOnMachine="107" IsTHRU="1" IsDefaultEfx="1">G3X_None</Type>
    <Type name="Unknown" NotVisibleToTypeChg="1">G3X_Unknown</Type>
  </UNIT4>
  <UNIT5>
    <Type name="COMP" EfxNoOnMachine="23">G3X_Compressor</Type>
    <Type name="RackComp" EfxNoOnMachine="24">G3X_Rack_Comp</Type>
    <Type name="M Comp" EfxNoOnMachine="25">G3X_M_Comp</Type>
    <Type name="SlowATTCK" EfxNoOnMachine="26">G3X_SlowAttack</Type>
    <Type name="ZNR" EfxNoOnMachine="27">G3X_ZNR</Type>
    <Type name="NoiseGate" EfxNoOnMachine="28">G3X_NoiseGate</Type>
    <Type name="DirtyGate" EfxNoOnMachine="29">G3X_DirtyGate</Type>
    <Type name="GraphicEQ" EfxNoOnMachine="30">G3X_GraphicEQ</Type>
    <Type name="ParaEQ" EfxNoOnMachine="31">G3X_ParaEQ</Type>
    <Type name="CombFLTR" EfxNoOnMachine="32">G3X_CombFilter</Type>
    <Type name="AutoWah" EfxNoOnMachine="33">G3X_Autowah</Type>
    <Type name="Resonance" EfxNoOnMachine="34">G3X_Auto_Resonance_Filter</Type>
    <Type name="Cry" EfxNoOnMachine="36">G3X_Cry</Type>
    <Type name="M-Filter" EfxNoOnMachine="0">G3X_M_Filter</Type>
    <Type name="Step" EfxNoOnMachine="35">G3X_Step</Type>
    <Type name="SeqFLTR" EfxNoOnMachine="12">G3X_SeqFltr</Type>
    <Type name="RndmFLTR" EfxNoOnMachine="13">G3X_RndmFltr</Type>
    <Type name="Booster" EfxNoOnMachine="71">G3X_Booster</Type>
    <Type name="OverDrive" EfxNoOnMachine="72">G3X_OverDrive</Type>
    <Type name="T Scream" EfxNoOnMachine="73">G3X_T_SCREAM</Type>
    <Type name="Governor" EfxNoOnMachine="74">G3X_Governor</Type>
    <Type name="Dist+" EfxNoOnMachine="75">G3X_Dist+</Type>
    <Type name="Dist 1" EfxNoOnMachine="76">G3X_Dist1</Type>
    <Type name="Squeak" EfxNoOnMachine="77">G3X_SQUEAK</Type>
    <Type name="FuzzSmile" EfxNoOnMachine="78">G3X_FuzzSmile</Type>
    <Type name="GreatMuff" EfxNoOnMachine="79">G3X_GreatMuff</Type>
    <Type name="MetalWRLD" EfxNoOnMachine="80">G3X_MetalWorld</Type>
    <Type name="HotBox" EfxNoOnMachine="81">G3X_HotBox</Type>
    <Type modeling="1" name="Z Clean" EfxNoOnMachine="86">G3X_Z_CLEAN</Type>
    <Type modeling="1" name="Z MP1" EfxNoOnMachine="87">G3X_Z_MP1</Type>
    <Type modeling="1" name="Z Bottom" EfxNoOnMachine="88">G3X_Z_BOTTOM</Type>
    <Type modeling="1" name="Z Dream" EfxNoOnMachine="89">G3X_Z_DREAM</Type>
    <Type modeling="1" name="Z Scream" EfxNoOnMachine="90">G3X_Z_SCREAM</Type>
    <Type modeling="1" name="Z Neos" EfxNoOnMachine="91">G3X_Z_NEOS</Type>
    <Type modeling="1" name="Z Wild" EfxNoOnMachine="82">G3X_Z_WILD</Type>
    <Type modeling="1" name="Lead" EfxNoOnMachine="83">G3X_Lead</Type>
    <Type modeling="1" name="ExtremeDS" EfxNoOnMachine="84">G3X_ExtremeDS</Type>
    <Type name="Aco.Sim" EfxNoOnMachine="85">G3X_AcoSim</Type>
    <Type modeling="1" name="FD COMBO" EfxNoOnMachine="92">G3X_FD_Combo</Type>
    <Type modeling="1" name="DELUXE-R" EfxNoOnMachine="111">G3X_DELUXE-R</Type>
    <Type modeling="1" name="FD VIBRO" EfxNoOnMachine="104">G3X_FD_Vibro</Type>
    <Type modeling="1" name="US BLUES" EfxNoOnMachine="94">G3X_US_Blues</Type>
    <Type modeling="1" name="VX COMBO" EfxNoOnMachine="93">G3X_VX_Combo</Type>
    <Type modeling="1" name="VX JMI" EfxNoOnMachine="116">G3X_VX_JMI</Type>
    <Type modeling="1" name="BG CRUNCH" EfxNoOnMachine="95">G3X_BG_Crunch</Type>
    <Type modeling="1" name="MATCH 30" EfxNoOnMachine="103">G3X_Match_30</Type>
    <Type modeling="1" name="CAR DRIVE" EfxNoOnMachine="114">G3X_CAR_DRIVE</Type>
    <Type modeling="1" name="TW ROCK" EfxNoOnMachine="102">G3X_TW_Rock</Type>
    <Type modeling="1" name="TONE CITY" EfxNoOnMachine="108">G3X_TONE_CITY</Type>
    <Type modeling="1" name="HW STACK" EfxNoOnMachine="96">G3X_HW_Stack</Type>
    <Type modeling="1" name="TANGERINE" EfxNoOnMachine="97">G3X_Tangerine</Type>
    <Type modeling="1" name="B-BREAKER" EfxNoOnMachine="109">G3X_B-BREAKER</Type>
    <Type modeling="1" name="MS CRUNCH" EfxNoOnMachine="98">G3X_MS_CRUNCH</Type>
    <Type modeling="1" name="MS 1959" EfxNoOnMachine="115">G3X_MS_1959</Type>
    <Type modeling="1" name="MS DRIVE" EfxNoOnMachine="99">G3X_MS_Drive</Type>
    <Type modeling="1" name="BGN DRIVE" EfxNoOnMachine="110">G3X_BGN_DRV</Type>
    <Type modeling="1" name="BG DRIVE" EfxNoOnMachine="100">G3X_BG_Drive</Type>
    <Type modeling="1" name="DZ DRIVE" EfxNoOnMachine="101">G3X_DZ_Drive</Type>
    <Type modeling="1" name="ALIEN" EfxNoOnMachine="112">G3X_ALIEN</Type>
    <Type modeling="1" name="REVO-1" EfxNoOnMachine="113">G3X_REVO-1</Type>
    <Type name="Tremolo" EfxNoOnMachine="38">G3X_Tremolo</Type>
    <Type name="Slicer" EfxNoOnMachine="3">G3X_Slicer</Type>
    <Type name="Phaser" EfxNoOnMachine="39">G3X_Phaser</Type>
    <Type name="DuoPhase" EfxNoOnMachine="10">G3X_Duo_Phase</Type>
    <Type name="WarpPhase" EfxNoOnMachine="14">G3X_Warp_Phase</Type>
    <Type name="Chorus" EfxNoOnMachine="41">G3X_Chorus</Type>
    <Type name="Detune" EfxNoOnMachine="42">G3X_Detune</Type>
    <Type name="VintageCE" EfxNoOnMachine="43">G3X_VintageCho</Type>
    <Type name="StereoCho" EfxNoOnMachine="44">G3X_StereoCho</Type>
    <Type name="Ensemble" EfxNoOnMachine="45">G3X_Ensemble</Type>
    <Type name="VinFLNGR" EfxNoOnMachine="46">G3X_VinFlanger</Type>
    <Type name="Flanger" EfxNoOnMachine="106">G3X_Flanger</Type>
    <Type name="DynaFLNGR" EfxNoOnMachine="47">G3X_DynamicFLG</Type>
    <Type name="Vibrato" EfxNoOnMachine="48">G3X_Vibrato</Type>
    <Type name="Octave" EfxNoOnMachine="37">G3X_Octave</Type>
    <Type name="PitchSHFT" EfxNoOnMachine="49">G3X_PitchShift</Type>
    <Type name="MonoPitch" EfxNoOnMachine="51">G3X_MonoPitch</Type>
    <Type name="HPS" EfxNoOnMachine="52">G3X_HPS</Type>
    <Type name="BendCho" EfxNoOnMachine="50">G3X_BendCho</Type>
    <Type name="RingMod" EfxNoOnMachine="40">G3X_RingMod</Type>
    <Type name="BitCrush" EfxNoOnMachine="8">G3X_BitCrush</Type>
    <Type name="Bomber" EfxNoOnMachine="9">G3X_Bomber</Type>
    <Type name="MonoSynth" EfxNoOnMachine="11">G3X_MonoSynth</Type>
    <Type name="Z-Organ" EfxNoOnMachine="2">G3X_Z_Organ</Type>
    <Type name="Delay" EfxNoOnMachine="53">G3X_Delay</Type>
    <Type name="TapeEcho" EfxNoOnMachine="54">G3X_TapeEcho</Type>
    <Type name="ModDelay" EfxNoOnMachine="55">G3X_ModDelay</Type>
    <Type name="AnalogDly" EfxNoOnMachine="56">G3X_AnalogDelay</Type>
    <Type name="ReverseDL" EfxNoOnMachine="57">G3X_Reverse</Type>
    <Type name="MultiTapD" EfxNoOnMachine="58">G3X_MultiTapDL</Type>
    <Type name="DynaDelay" EfxNoOnMachine="59">G3X_DynamicDLY</Type>
    <Type name="FilterDly" EfxNoOnMachine="5">G3X_FilterDly</Type>
    <Type name="PitchDly" EfxNoOnMachine="6">G3X_PitchDly</Type>
    <Type name="StereoDly" EfxNoOnMachine="7">G3X_StereoDly</Type>
    <Type name="PhaseDly" EfxNoOnMachine="4">G3X_Pha_Dly</Type>
    <Type name="TrgHldDly" EfxNoOnMachine="15">G3X_TrgHldDly</Type>
    <Type name="HD Reverb" EfxNoOnMachine="105">G3X_HD_Reverb</Type>
    <Type name="Hall" EfxNoOnMachine="60">G3X_Hall</Type>
    <Type name="Room" EfxNoOnMachine="61">G3X_Room</Type>
    <Type name="TiledRoom" EfxNoOnMachine="62">G3X_TiledRoom</Type>
    <Type name="Spring" EfxNoOnMachine="63">G3X_Spring</Type>
    <Type name="Arena" EfxNoOnMachine="64">G3X_Arena</Type>
    <Type name="EarlyRef" EfxNoOnMachine="65">G3X_EarlyRef</Type>
    <Type name="Air" EfxNoOnMachine="66">G3X_Air</Type>
    <Type name="Comp+OD" EfxNoOnMachine="22">G3X_Comp+OD</Type>
    <Type name="Comp+Phsr" EfxNoOnMachine="19">G3X_Comp+Phsr</Type>
    <Type name="Comp+AWah" EfxNoOnMachine="20">G3X_Comp+AWah</Type>
    <Type name="Cho+Dly" EfxNoOnMachine="16">G3X_Cho+Dly</Type>
    <Type name="Dly+Rev" EfxNoOnMachine="18">G3X_Dly+Rev</Type>
    <Type name="Cho+Rev" EfxNoOnMachine="17">G3X_Cho+Rev</Type>
    <Type name="FLG+VCho" EfxNoOnMachine="21">G3X_V_Cho+Flg</Type>
    <Type name="PedalVx" EfxNoOnMachine="67">G3X_PedalVox</Type>
    <Type name="PedalCry" EfxNoOnMachine="68">G3X_PedalCry</Type>
    <Type name="TheVibe" EfxNoOnMachine="1">G3X_TheVibe</Type>
    <Type name="PDL Pitch" EfxNoOnMachine="69">G3X_PedalPitch</Type>
    <Type name="PDL MnPit" EfxNoOnMachine="70">G3X_PdlMnPit</Type>
    <Type name="None" EfxNoOnMachine="107" IsTHRU="1" IsDefaultEfx="1">G3X_None</Type>
    <Type name="Unknown" NotVisibleToTypeChg="1">G3X_Unknown</Type>
  </UNIT5>
  <UNIT6>
    <Type name="COMP" EfxNoOnMachine="23">G3X_Compressor</Type>
    <Type name="RackComp" EfxNoOnMachine="24">G3X_Rack_Comp</Type>
    <Type name="M Comp" EfxNoOnMachine="25">G3X_M_Comp</Type>
    <Type name="SlowATTCK" EfxNoOnMachine="26">G3X_SlowAttack</Type>
    <Type name="ZNR" EfxNoOnMachine="27">G3X_ZNR</Type>
    <Type name="NoiseGate" EfxNoOnMachine="28">G3X_NoiseGate</Type>
    <Type name="DirtyGate" EfxNoOnMachine="29">G3X_DirtyGate</Type>
    <Type name="GraphicEQ" EfxNoOnMachine="30">G3X_GraphicEQ</Type>
    <Type name="ParaEQ" EfxNoOnMachine="31">G3X_ParaEQ</Type>
    <Type name="CombFLTR" EfxNoOnMachine="32">G3X_CombFilter</Type>
    <Type name="AutoWah" EfxNoOnMachine="33">G3X_Autowah</Type>
    <Type name="Resonance" EfxNoOnMachine="34">G3X_Auto_Resonance_Filter</Type>
    <Type name="Cry" EfxNoOnMachine="36">G3X_Cry</Type>
    <Type name="M-Filter" EfxNoOnMachine="0">G3X_M_Filter</Type>
    <Type name="Step" EfxNoOnMachine="35">G3X_Step</Type>
    <Type name="SeqFLTR" EfxNoOnMachine="12">G3X_SeqFltr</Type>
    <Type name="RndmFLTR" EfxNoOnMachine="13">G3X_RndmFltr</Type>
    <Type name="Booster" EfxNoOnMachine="71">G3X_Booster</Type>
    <Type name="OverDrive" EfxNoOnMachine="72">G3X_OverDrive</Type>
    <Type name="T Scream" EfxNoOnMachine="73">G3X_T_SCREAM</Type>
    <Type name="Governor" EfxNoOnMachine="74">G3X_Governor</Type>
    <Type name="Dist+" EfxNoOnMachine="75">G3X_Dist+</Type>
    <Type name="Dist 1" EfxNoOnMachine="76">G3X_Dist1</Type>
    <Type name="Squeak" EfxNoOnMachine="77">G3X_SQUEAK</Type>
    <Type name="FuzzSmile" EfxNoOnMachine="78">G3X_FuzzSmile</Type>
    <Type name="GreatMuff" EfxNoOnMachine="79">G3X_GreatMuff</Type>
    <Type name="MetalWRLD" EfxNoOnMachine="80">G3X_MetalWorld</Type>
    <Type name="HotBox" EfxNoOnMachine="81">G3X_HotBox</Type>
    <Type modeling="1" name="Z Clean" EfxNoOnMachine="86">G3X_Z_CLEAN</Type>
    <Type modeling="1" name="Z MP1" EfxNoOnMachine="87">G3X_Z_MP1</Type>
    <Type modeling="1" name="Z Bottom" EfxNoOnMachine="88">G3X_Z_BOTTOM</Type>
    <Type modeling="1" name="Z Dream" EfxNoOnMachine="89">G3X_Z_DREAM</Type>
    <Type modeling="1" name="Z Scream" EfxNoOnMachine="90">G3X_Z_SCREAM</Type>
    <Type modeling="1" name="Z Neos" EfxNoOnMachine="91">G3X_Z_NEOS</Type>
    <Type modeling="1" name="Z Wild" EfxNoOnMachine="82">G3X_Z_WILD</Type>
    <Type modeling="1" name="Lead" EfxNoOnMachine="83">G3X_Lead</Type>
    <Type modeling="1" name="ExtremeDS" EfxNoOnMachine="84">G3X_ExtremeDS</Type>
    <Type name="Aco.Sim" EfxNoOnMachine="85">G3X_AcoSim</Type>
    <Type modeling="1" name="FD COMBO" EfxNoOnMachine="92">G3X_FD_Combo</Type>
    <Type modeling="1" name="DELUXE-R" EfxNoOnMachine="111">G3X_DELUXE-R</Type>
    <Type modeling="1" name="FD VIBRO" EfxNoOnMachine="104">G3X_FD_Vibro</Type>
    <Type modeling="1" name="US BLUES" EfxNoOnMachine="94">G3X_US_Blues</Type>
    <Type modeling="1" name="VX COMBO" EfxNoOnMachine="93">G3X_VX_Combo</Type>
    <Type modeling="1" name="VX JMI" EfxNoOnMachine="116">G3X_VX_JMI</Type>
    <Type modeling="1" name="BG CRUNCH" EfxNoOnMachine="95">G3X_BG_Crunch</Type>
    <Type modeling="1" name="MATCH 30" EfxNoOnMachine="103">G3X_Match_30</Type>
    <Type modeling="1" name="CAR DRIVE" EfxNoOnMachine="114">G3X_CAR_DRIVE</Type>
    <Type modeling="1" name="TW ROCK" EfxNoOnMachine="102">G3X_TW_Rock</Type>
    <Type modeling="1" name="TONE CITY" EfxNoOnMachine="108">G3X_TONE_CITY</Type>
    <Type modeling="1" name="HW STACK" EfxNoOnMachine="96">G3X_HW_Stack</Type>
    <Type modeling="1" name="TANGERINE" EfxNoOnMachine="97">G3X_Tangerine</Type>
    <Type modeling="1" name="B-BREAKER" EfxNoOnMachine="109">G3X_B-BREAKER</Type>
    <Type modeling="1" name="MS CRUNCH" EfxNoOnMachine="98">G3X_MS_CRUNCH</Type>
    <Type modeling="1" name="MS 1959" EfxNoOnMachine="115">G3X_MS_1959</Type>
    <Type modeling="1" name="MS DRIVE" EfxNoOnMachine="99">G3X_MS_Drive</Type>
    <Type modeling="1" name="BGN DRIVE" EfxNoOnMachine="110">G3X_BGN_DRV</Type>
    <Type modeling="1" name="BG DRIVE" EfxNoOnMachine="100">G3X_BG_Drive</Type>
    <Type modeling="1" name="DZ DRIVE" EfxNoOnMachine="101">G3X_DZ_Drive</Type>
    <Type modeling="1" name="ALIEN" EfxNoOnMachine="112">G3X_ALIEN</Type>
    <Type modeling="1" name="REVO-1" EfxNoOnMachine="113">G3X_REVO-1</Type>
    <Type name="Tremolo" EfxNoOnMachine="38">G3X_Tremolo</Type>
    <Type name="Slicer" EfxNoOnMachine="3">G3X_Slicer</Type>
    <Type name="Phaser" EfxNoOnMachine="39">G3X_Phaser</Type>
    <Type name="DuoPhase" EfxNoOnMachine="10">G3X_Duo_Phase</Type>
    <Type name="WarpPhase" EfxNoOnMachine="14">G3X_Warp_Phase</Type>
    <Type name="Chorus" EfxNoOnMachine="41">G3X_Chorus</Type>
    <Type name="Detune" EfxNoOnMachine="42">G3X_Detune</Type>
    <Type name="VintageCE" EfxNoOnMachine="43">G3X_VintageCho</Type>
    <Type name="StereoCho" EfxNoOnMachine="44">G3X_StereoCho</Type>
    <Type name="Ensemble" EfxNoOnMachine="45">G3X_Ensemble</Type>
    <Type name="VinFLNGR" EfxNoOnMachine="46">G3X_VinFlanger</Type>
    <Type name="Flanger" EfxNoOnMachine="106">G3X_Flanger</Type>
    <Type name="DynaFLNGR" EfxNoOnMachine="47">G3X_DynamicFLG</Type>
    <Type name="Vibrato" EfxNoOnMachine="48">G3X_Vibrato</Type>
    <Type name="Octave" EfxNoOnMachine="37">G3X_Octave</Type>
    <Type name="PitchSHFT" EfxNoOnMachine="49">G3X_PitchShift</Type>
    <Type name="MonoPitch" EfxNoOnMachine="51">G3X_MonoPitch</Type>
    <Type name="HPS" EfxNoOnMachine="52">G3X_HPS</Type>
    <Type name="BendCho" EfxNoOnMachine="50">G3X_BendCho</Type>
    <Type name="RingMod" EfxNoOnMachine="40">G3X_RingMod</Type>
    <Type name="BitCrush" EfxNoOnMachine="8">G3X_BitCrush</Type>
    <Type name="Bomber" EfxNoOnMachine="9">G3X_Bomber</Type>
    <Type name="MonoSynth" EfxNoOnMachine="11">G3X_MonoSynth</Type>
    <Type name="Z-Organ" EfxNoOnMachine="2">G3X_Z_Organ</Type>
    <Type name="Delay" EfxNoOnMachine="53">G3X_Delay</Type>
    <Type name="TapeEcho" EfxNoOnMachine="54">G3X_TapeEcho</Type>
    <Type name="ModDelay" EfxNoOnMachine="55">G3X_ModDelay</Type>
    <Type name="AnalogDly" EfxNoOnMachine="56">G3X_AnalogDelay</Type>
    <Type name="ReverseDL" EfxNoOnMachine="57">G3X_Reverse</Type>
    <Type name="MultiTapD" EfxNoOnMachine="58">G3X_MultiTapDL</Type>
    <Type name="DynaDelay" EfxNoOnMachine="59">G3X_DynamicDLY</Type>
    <Type name="FilterDly" EfxNoOnMachine="5">G3X_FilterDly</Type>
    <Type name="PitchDly" EfxNoOnMachine="6">G3X_PitchDly</Type>
    <Type name="StereoDly" EfxNoOnMachine="7">G3X_StereoDly</Type>
    <Type name="PhaseDly" EfxNoOnMachine="4">G3X_Pha_Dly</Type>
    <Type name="TrgHldDly" EfxNoOnMachine="15">G3X_TrgHldDly</Type>
    <Type name="HD Reverb" EfxNoOnMachine="105">G3X_HD_Reverb</Type>
    <Type name="Hall" EfxNoOnMachine="60">G3X_Hall</Type>
    <Type name="Room" EfxNoOnMachine="61">G3X_Room</Type>
    <Type name="TiledRoom" EfxNoOnMachine="62">G3X_TiledRoom</Type>
    <Type name="Spring" EfxNoOnMachine="63">G3X_Spring</Type>
    <Type name="Arena" EfxNoOnMachine="64">G3X_Arena</Type>
    <Type name="EarlyRef" EfxNoOnMachine="65">G3X_EarlyRef</Type>
    <Type name="Air" EfxNoOnMachine="66">G3X_Air</Type>
    <Type name="Comp+OD" EfxNoOnMachine="22">G3X_Comp+OD</Type>
    <Type name="Comp+Phsr" EfxNoOnMachine="19">G3X_Comp+Phsr</Type>
    <Type name="Comp+AWah" EfxNoOnMachine="20">G3X_Comp+AWah</Type>
    <Type name="Cho+Dly" EfxNoOnMachine="16">G3X_Cho+Dly</Type>
    <Type name="Dly+Rev" EfxNoOnMachine="18">G3X_Dly+Rev</Type>
    <Type name="Cho+Rev" EfxNoOnMachine="17">G3X_Cho+Rev</Type>
    <Type name="FLG+VCho" EfxNoOnMachine="21">G3X_V_Cho+Flg</Type>
    <Type name="PedalVx" EfxNoOnMachine="67">G3X_PedalVox</Type>
    <Type name="PedalCry" EfxNoOnMachine="68">G3X_PedalCry</Type>
    <Type name="TheVibe" EfxNoOnMachine="1">G3X_TheVibe</Type>
    <Type name="PDL Pitch" EfxNoOnMachine="69">G3X_PedalPitch</Type>
    <Type name="PDL MnPit" EfxNoOnMachine="70">G3X_PdlMnPit</Type>
    <Type name="None" EfxNoOnMachine="107" IsTHRU="1" IsDefaultEfx="1">G3X_None</Type>
    <Type name="Unknown" NotVisibleToTypeChg="1">G3X_Unknown</Type>
  </UNIT6>
  <FS>
    <Type name="OFF">G3X_FS_OFF</Type>
    <Type name="UNIT1">G3X_FS_UNIT1</Type>
    <Type name="UNIT2">G3X_FS_UNIT2</Type>
    <Type name="UNIT3">G3X_FS_UNIT3</Type>
    <Type name="UNIT4">G3X_FS_UNIT4</Type>
    <Type name="UNIT5">G3X_FS_UNIT5</Type>
    <Type name="UNIT6">G3X_FS_UNIT6</Type>
    <Type name="TAP TEMPO">G3X_FS_TAP_TEMPO</Type>
    <Type name="BYPAS-MUTE">G3X_FS_BYPAS_MUTE</Type>
  </FS>
  <FP>
    <Type name="OFF">G3X_FP_OFF</Type>
    <Type name="UNIT1">G3X_FP_UNIT1</Type>
    <Type name="UNIT2">G3X_FP_UNIT2</Type>
    <Type name="UNIT3">G3X_FP_UNIT3</Type>
    <Type name="UNIT4">G3X_FP_UNIT4</Type>
    <Type name="UNIT5">G3X_FP_UNIT5</Type>
    <Type name="UNIT6">G3X_FP_UNIT6</Type>
    <Type name="AUTO ASSIGN">G3X_FP_AUTO_ASSIGN</Type>
    <Type name="INPUT VOLUME">G3X_FP_INPUT_VOLUME</Type>
    <Type name="OUTPUT VOLUME">G3X_FP_OUTPUT_VOLUME</Type>
  </FP>
</Modules>